body {
    background-color:black;
    text-align:center;
    margin:0px;
    font-family: 'Source Sans Pro', sans-serif;
}
button {
    padding:30px;
    border:none;
    font-size:50px;
    margin:20px;
}
#balance {
    background-color:rgb(248, 193, 74);
} 

#endurance {
    background-color:rgb(59, 204, 59);
}

#strength {
    background-color: red;
}

#flexibility {
    background-color:rgb(245, 62, 245);
}

ol {
    list-style: none;
    display:flex;
}
 
#heading {
background-color:white;
color:black;
}

li {
    padding:10px;
    margin:20px;
}

a {
    text-decoration: none;
    color:black;
}

.copy_right_footer {
    color: black;
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color:white;
    line-height: 3;
    text-align: center;
 }
